<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
<mat-card>
  <img mat-card-lg-image src="../../assets/img/350x150.png" alt="Deep" class="mat-card-image1"><br><br><br>
    <mat-card-title>
        <span class="mat-headline">Deep Patel</span>
        </mat-card-title>
  <mat-card-subtitle> Founder, RadiAI</mat-card-subtitle>
  <mat-card-content layout="center center">Manages AI,Back, Front and Architecture</mat-card-content>
</mat-card>

<mat-card>
  <img mat-card-md-image src="../../assets/img/350x150.png" alt="Deep" class="mat-card-image2"><br><br><br>
  <mat-card-title>Siddharth Thiruvalluvan</mat-card-title>
  <mat-card-subtitle> Project Manager</mat-card-subtitle>
  <mat-card-content>qwertyuioiuytrewqwertyuk</mat-card-content>
</mat-card>

  <mat-card>
  <img mat-card-md-image src="../../assets/img/350x150.png" alt="Deep" class="mat-card-image2"><br><br><br>
  <mat-card-title>Varoujan Khorozian</mat-card-title>
  <mat-card-subtitle> Business Analyst</mat-card-subtitle>
  <mat-card-content>erjkjhdsdnbsdfgh</mat-card-content>
  <mat-card-content></mat-card-content>
</mat-card>

<mat-card>
  <img mat-card-md-image src="../../assets/img/350x150.png" alt="Deep" class="mat-card-image2"><br><br><br>
  <mat-card-title>Dhawal Khatiwala</mat-card-title>
  <mat-card-subtitle> Frontend Developer</mat-card-subtitle>
  <mat-card-content>jnsdlvjnvsdjnkvdnndjksv</mat-card-content>
  <mat-card-content></mat-card-content>
</mat-card>
  <mat-card>
  <img mat-card-md-image src="../../assets/img/350x150.png" alt="Deep" class="mat-card-image2"><br><br><br>
  <mat-card-title>Mark Owlasiuk</mat-card-title>
  <mat-card-subtitle> Backend Developer</mat-card-subtitle>
  <mat-card-content>njfvlvnjflnlndsvnlvdsnlvds</mat-card-content>
  <mat-card-content></mat-card-content>
</mat-card>
  </div>
</div>
