
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>
      <mat-nav-list>
          <mat-toolbar-row routerLink="/dashboard">
          Dashboard
          </mat-toolbar-row>
        <mat-toolbar-row routerLink="/charts">
          Charts
        </mat-toolbar-row>
        <mat-toolbar-row routerLink="/feedback">
          Feedback
        </mat-toolbar-row>
        <mat-toolbar-row routerLink="/about">
          About Us
        </mat-toolbar-row>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
      <div style="text-align: center;">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      </div>
      <button mat-button routerLink="/"><span>RadiAI</span></button>
      <span class="fill-remaining-space"></span>
      <button mat-button routerLink="/login"><span>Login</span></button>
      <button mat-button routerLink="/login"><span>Logout</span></button>
    </mat-toolbar>
  <div class="body-margin">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
      <!--<ul>-->
        <!--<li *ngIf="apiService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>-->
        <!--</li>-->
        <!--<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a class="nav-link"  [routerLink]="['/about']">About</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<ul>-->
        <!--<li *ngIf="!apiService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a class="nav-link"  [routerLink]="['/register']">Register</a>-->
        <!--</li>-->
        <!--<li *ngIf="!apiService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a class="nav-link"  [routerLink]="['/login']">Login</a>-->
        <!--</li>-->
        <!--<li *ngIf="apiService.loggedIn()" class="nav-item">-->
          <!--<a class="nav-link" href="#"  (click)="onLogoutClick()">Logout</a>-->
        <!--</li>-->
      <!--</ul>-->






