<div class="body-margin">

<mat-card>
  <mat-card-header><h3><strong>1st Degree</strong></h3></mat-card-header><br>
  <mat-list>
    <mat-checkbox color="primary" value="Apple">Red</mat-checkbox><br><br>
    <mat-checkbox color="primary" value="Banana"> Painful </mat-checkbox><br><br>
    <mat-checkbox color="primary" value="Mango">Involve Epidermis</mat-checkbox><br><br><hr>




    <mat-card-header><strong>2nd Degree</strong></mat-card-header><br>

      <mat-checkbox color="primary" value="Apple">Involves dermis</mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Banana"> Briskers </mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Mango">Gikteuing</mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Mango">wet base</mat-checkbox><br><br><hr>




    <mat-card-header><strong>3rd Degree</strong></mat-card-header><br>

      <mat-checkbox color="primary" value="Apple">Thick/Black</mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Banana"> dry </mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Mango">Blood vessels visible</mat-checkbox><br><br>
      <mat-checkbox color="primary" value="Mango">Chared</mat-checkbox><br><br><br>
    </mat-list>

<button mat-raised-button value="submit" (click)="e" color="primary">Submit</button>
</mat-card>
</div>
